:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background: #2f303a;
}

body {
  background: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

/* Цвет основного текста #212121; */
/* вторичный текст текста  #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #E5E5E5 */

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, cursive;
  letter-spacing: 0.03em;
  font-size: 26px;
  font-weight: bold;
  line-height: 31px;
  text-decoration: none;
}
.logo-footer {
  color: var(--white-color);
}
.logo-footer span {
  color: var(--accent-color);
}
.logo span {
  color: var(--accent-color);
}

/* site-nav */

.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.site-nav li {
  list-style: none;
}
.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}
.site-nav.current {
  color: var(--accent-color);
}
.header-mail-tel a {
  color: var(--title-text-color);
  text-decoration: none;
}
.header-mail-tel :hover {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background: var(--background);
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  padding: 200px 450px 280px;
}
.hero a {
  color: var(--white-color);
}
section {
  color: var(--title-text-color);
}
.section-title {
  color: var(--primary-text-color);
}

/* Button */
.button {
  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}
/* подвал */
.footer {
  background: var(--background);
}
.footer-address {
  color: var(--white-color);
}
.footer-mail-tel {
  color: var(--white-color);
  opacity: 60%;
}
