:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background: #2f303a;
}

body {
  background: #ffffff;
  color: #212121;
}

/* Цвет основного текста #212121; */
/* вторичный текст текста  #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #E5E5E5 */

.logo {
  color: var(--primary-text-color);
}

.logo span {
  color: var(--accent-color);
}

/* site-nav */

.site-nav a {
  color: var(--primary-text-color);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

.site-nav.current {
  color: var(--accent-color);
}

.header-mail-tel a {
  color: var(--title-text-color);
}

.header-mail-tel :hover {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background: var(--background);
  color: var(--white-color);
}
.hero a {
  color: var(--white-color);
}
section {
  color: var(--title-text-color);
}
.section-title {
  color: var(--primary-text-color);
}
/* Button */
.button {
  color: var(--white-color);
  background: var(--accent-color);
}
/* подвал */
.footer {
  background: var(--background);
}
.footer-address {
  color: var(--white-color);
}
.footer-mail-tel {
  color: var(--white-color);
  opacity: 60%;
}
